<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Unrivaled</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Unrivaled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="../static/person/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../static/person/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="../static/person/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>

    <!-- mian-content -->
    <div class="main-banner" id="home" >
        <div style="padding-top:10px;margin-left: 20px;font-size: 15px">
            <span>欢迎: {{name}}</span>
            <span><a href="/person" style="margin-left: 85%">个人中心</a></span>
            <span><a href="/loginout" >退出</a></span>
        </div>

        <!--/banner-->
        <div class="banner-info" style="">
            <div class="w3pvt-logo text-center">
                <h1> <a href="#">Unrivaled</a></h1>
            </div>
            <div class="middile-inner-con">
                <div class="tab-main mx-auto">
                    <input id="tab1" type="radio" name="tabs" class="w3layouts-sm" checked>
                    <label for="tab1"><span class="fa fa-home" aria-hidden="true"></span><a href="/home">Home</a></label>
                    <input id="tab2" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab2"><span class="fa fa-users" aria-hidden="true"></span> <a href="/unspider">高校抓取</a></label>
                    <input id="tab3" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab3"><span class="fa fa-database" aria-hidden="true"></span> <a href="/dataspider">数据抓取</a></label>
                    <input id="tab4" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab4"><span class="fa fa-files-o" aria-hidden="true"></span><a href="/exportion_history">导出或推送记录</a></label>
                    <input id="tab5" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab5"><span class="fa fa-envelope" aria-hidden="true"></span><a href="/scispider">sci数据解析</a></label>
                    <input id="tab6" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab6"><span class="fa fa-envelope" aria-hidden="true"></span><a href="/ei">ei查询导出</a></label>
                    <input id="tab7" type="radio" class="w3layouts-sm" name="tabs">
                    <label for="tab7"><span class="fa fa-list-alt" aria-hidden="true"></span><a href="/data_view">数据可视化</a></label>
                </div>
                <!--// banner-inner -->
            </div>
        </div>
        <div class="copy-w3layouts-right text-center pb-3">
            <p>© 2020 Unrivaled. All rights reserved
            </p>

        </div>
    </div>
    <!--//main-content-->


</body>

</html>
