# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\交接\hbzk_show\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
